.wp-store {
  width: 160px;
  height: 40px;
  display: block;
  overflow: hidden;

  opacity: .8;
  border-radius: 3px;
  background-color: #1A1918;

  &:hover {
    opacity: 1;
  }
}

.wp-store-icon {
  margin: 6px 9px;
  width: 24px;
  float: left;
}

.wp-store-text {
  margin-top: 5px;
  line-height: 14px;
  font-size: 11px;
  font-family: Arial, Tahoma, sans-serif;
  cursor: pointer;
}

.wp-store,
.wp-store-text {
  color: #fff;
  text-decoration: none;
}
