---
title: Как это работает?
---

<section>
  <div class="container">
    <h1>Как это работает?</h1>
    Все просто &mdash; общественный транспорт России оснащен системой <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%9B%D0%9E%D0%9D%D0%90%D0%A1%D0%A1">ГЛОНАСС</a>. Диспетчеры всегда владели информацией об их местоположении.

    <br>
    <br>

    Мы научились собирать эту информацию. Запустив приложение, вы получаете актуальные данные о местоположении и времени прибытия нужного вам транспорта.

    <br>
    <br>

    <nav>
      <a href="/">на главную</a>
    </nav>
  </div>
</section>
