---
title: Transee
---

<header class="section">
  <div class="container">
    <div class="half hide-on-mobile">&nbsp;</div>
    <div class="half">
      <div class="logo">
        <!-- <%= inline_svg('logo') %> -->
      </div>
      <h1>Transee</h1>
      Карманный трекер общественного транспорта

      <a href="#" class="wp-store">
        <div class="wp-store-icon"><%= inline_svg('wp_store') %></div>
        <div class="wp-store-text">Download from<br> Windows Phone Store</div>
      </a>
    </div>
  </div>
</header>
