---
title: Transee
---

<section>
  <div class="container">
    <div class="left-side">
      <h1>Transee</h1>
      <h2>Карманный трекер<br>общественного транспорта</h2>

      <div class="downloads">
        <a class="wp-store">
          <div class="wp-store-icon"><%= inline_svg('wp_store') %></div>
          <div class="wp-store-text">Windows Phone Store</div>
        </a>
        <span>
          &mdash; <span>скоро</span>
        </span>
      </div>

      <nav>
        <a href="/how.html">как оно работает?</a>
      </nav>
    </div>
    <div class="right-side">
      <!-- <div class="wp-app"></div> -->
    </div>
  </div>
</section>
