---
title: Transee
---

<section>
  <div class="container">
    <div class="left-side">
      <h1>Transee</h1>
      <h2>Карманный трекер<br>общественного транспорта</h2>

      <div class="downloads">
        <a href="http://www.windowsphone.com/s?appid=a219b3fc-ac30-4396-a960-49466c183a06" class="wp-store">
          <div class="wp-store-icon"><%= inline_svg('wp_store') %></div>
          <div class="wp-store-text">Windows Phone Store</div>
        </a>
        <!--
        <span>
          &mdash; <span>скоро</span>
        </span>
        -->
      </div>

      <nav>
        <a href="https://vk.com/transee_in">группа вконтакте</a>
        <a href="/how.html">как оно работает?</a>
        <a href="https://github.com/transee-in">мы ❤ open source︎</a>
      </nav>
    </div>
    <div class="right-side">
      <ul class="app-screenshots">
        <li class="slide-1 active">
          <span class="s"></span>
        </li>
        <li class="slide-2">
          <span class="s"></span>
        </li>
        <li class="slide-3">
          <span class="s"></span>
        </li>
      </ul>
    </div>
  </div>
</section>

<%= javascript_include_tag 'all' %>
